/* CSS Document
   Template Title: Uncomplicated
   Author: J David Macor
   URL: http://www.jdavidmacor.com

   Note, John M. Gabriele darkened it a bit.
*/

/* Main Body */
body {
	font-family: verdana, sans-serif;
	font-size: 11px;
	background: #d3e3d3;
	}
	
#container {
	width: 760px;
	padding: 30px;
	padding-bottom: 5px;
	border: 1px solid #ccc;
	background: #e8e8e8;
	margin: 0 auto;
	}
	
/* Header */
#header {
	width: 500px;
	border-left: 4px solid #ccc;
	border-right: 4px solid #ccc;
	margin: 0 auto;
	margin-bottom: 20px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 36px;
	letter-spacing: 0.4em;
	text-align: center;
	}

/* Navigation */
#tabnav	{
	height: 20px;
	margin: 0;
	padding-left: 10px;
	background: url(images/tab_bottom.gif) repeat-x bottom;
	}

#tabnav li {
	margin: 0; 
	padding: 0;
	display: inline;
	list-style-type: none;
	}
	
#tabnav a:link, #tabnav a:visited {
	float: left;
	background: #f3f3f3;
	font-size: 10px;
	line-height: 14px;
	font-weight: bold;
	padding: 2px 10px 2px 10px;
	margin-right: 4px;
	border: 1px solid #ccc;
	text-decoration: none;
	color: #666;
	}

#tabnav a:link.active, #tabnav a:visited.active	{
	border-bottom: 1px solid #fff;
	background: #fff;
	color: #000;
	}

#tabnav a:hover	{
	background: #fff;
	}
	
/* Main Content */
#content {
	width: 550px;
	margin-top: 15px;
	}
	
#content h2 {
	font-size: 20px;
	}
	
#content p {
	font-size: 12px;
	}
	
#content a, a:visited {
	color: #666666;
	text-decoration: underline;
	}
	
#content a:hover {
	color: #000000;
	}
	
/* Sidebar */
#sidebar {
	width: 190px;
	float: right;
	clear: none;
	margin-top: 15px;
	}
	
#sidebar h3 {
	border-bottom: 1px solid #ccc;
	font-size: 14px;
	}
	
#sidebar ul {
	font-size: 12px;
	}
	
#sidebar a, a:visited {
	color: #666666;
	text-decoration: underline;
	}
	
#sidebar a:hover {
	color: #000000;
	}
	
/* footer */
#footer {
	color: #666;
	text-align: center;
	border-top: 1px solid #ccc;
	size: 11px;
	margin-top: 30px;
	margin-bottom: 0;
	}
	
#footer a, a:visited {
	color: #666666;
	text-decoration: underline;
	}
	
#footer a:hover {
	color: #000000;
	}

pre{
	width: 100%;
	overflow: auto;
	border: 1px solid #CCC;
	background: #EEE;
}

.extlist{
	text-align: left;
	font-weight: normal;
	color: #404040;
	background-color: #fafafa;
	border: 1px #666666 solid;
	border-collapse: collapse;
	border-spacing: 1px;
}
	
.extlist th{
	text-align: center;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #666666;
	background-color: #dddddd;
	font-weight: bold;
	color: #404040;
}

.extlist td,.extlist td.supported,.extlist td.unsupported,.extlist td.other{
	border: 1px solid #666666;
	text-align: center;
	text-indent: 1px;
	color: #404040; 
}

.extlist td {
	text-align: left;
}

.extlist td.supported {
	background-color: #33ff33;
}

.extlist td.unsupported {
/*	background-color: #ff3333; */
	background-color: #cccccc; 
}

.extlist td.other {
	background-color: #cccccc;
}

/*					f << "<td class='supported'>YES</td>"
				elsif (ext[1]=="Other")
					f << "<td class='other'>NO</td>"
				else # unsupported
					f << "<td class='unsupported'>NO</td>" */
